<h2 class="screen-align">Updateseverirty</h2>
<div class="">
    <div id="template-iulj" class="gjs-row">
        <div id="template-i5yu" class="gjs-cell">
            <label id="template-iwph" class="">Name</label>
            <input type="text" id="template-ifo1" [(ngModel)]="severity.name"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
            <div type="button" id="template-iorxa" (click)="Update()" class="btn btn-primary ">update</div>
        </div>
        <div id="template-ie3i" class="gjs-cell">
            <label id="template-itje" class="">Description</label>
            <input type="text" id="template-i5px" [(ngModel)]="severity.description"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
        </div>
    </div>
</div>