<h2 class="screen-align">Updatetype</h2>
<div class="">
    <div id="template-i20j" class="">
        <div id="template-iokv" class="gjs-row">
            <div id="template-inug" class="gjs-cell">
                <label id="template-i6co" class="">Name</label>
                <input type="text" id="template-ifjr" [(ngModel)]="types.name"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
                />
                <div type="button" id="template-it372" (click)="Update()" class="btn btn-primary ">update</div>
            </div>
            <div id="template-i9b2" class="gjs-cell">
                <label id="template-idbc" class="">description</label>
                <input type="text" id="template-i2mby" [(ngModel)]="types.description"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
                />
            </div>
            <div id="template-i46h" class="gjs-cell"></div>
        </div>
    </div>
</div>