<h2 class="screen-align">Createtypes</h2>
<div class="">
    <div id="template-iptm" class="">
        <div id="template-io94" class="gjs-row">
            <div id="template-i49g" class="gjs-cell">
                <label id="template-i52f" class="">name
                    <br id="template-i5bff" class="">
                </label>
                <input type="text" id="template-i740u" [(ngModel)]="types.name" [ngModelOptions]="{standalone: true}"
                ngDefaultControl class="form-control " />
                <div type="button" id="template-invua" (click)="Create()" class="btn btn-primary ">create</div>
            </div>
            <div id="template-i265" class="gjs-cell">
                <label id="template-i220z" class="">description
                    <br id="template-iu5jr" class="">
                </label>
                <input type="text" id="template-ipbv2" [(ngModel)]="types.description"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
                />
            </div>
            <div id="template-ipcy" class="gjs-cell"></div>
        </div>
    </div>
</div>