<h2 class="screen-align">Createseverity</h2>
<div class="">
    <div id="template-ips2" class="gjs-row">
        <div id="template-ixjh" class="gjs-cell">
            <label id="template-immu" class="">Name</label>
            <input type="text" id="template-i48b" [(ngModel)]="severity.name"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
            <div type="button" id="template-im4ig" (click)="Create()" class="btn btn-primary ">create</div>
        </div>
        <div id="template-ia9k" class="gjs-cell">
            <label id="template-i4rw" class="">Description</label>
            <input type="text" id="template-inmc" [(ngModel)]="severity.description"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
        </div>
    </div>
</div>